<main>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas pharetra ipsum non consectetur. In
      felis ligula, tristique venenatis risus sed, mattis porttitor nunc. Sed vel ultrices massa, vel molestie mauris.
      Fusce sodales dignissim pretium. Aliquam gravida magna non est porttitor lobortis. Vestibulum non risus bibendum,
      consectetur turpis quis, aliquam eros. Donec in dapibus odio. Duis ex metus, sagittis at ligula quis, dignissim
      malesuada nunc. In tempus auctor lorem, non varius enim porta eget. Proin in dapibus velit. Phasellus consectetur
      ultrices nulla ut condimentum. Donec sit amet elit quis elit accumsan rutrum. In euismod porta justo in vehicula.
      Duis nec ante tincidunt, hendrerit dui at, congue metus. Praesent volutpat vel augue non volutpat.</p>

    <p>Etiam faucibus sapien et lobortis rhoncus. Aliquam faucibus ut nibh a consequat. Aenean est sapien, auctor quis
      dolor vel, pretium feugiat nunc. Aenean ut turpis efficitur, porta augue ut, pellentesque orci. Nunc ac eros
      dignissim, molestie nisl vitae, varius augue. In pretium sapien sit amet tincidunt consectetur. Donec consectetur
      leo mattis risus efficitur hendrerit.</p>

    <p>Duis tortor sem, lacinia nec molestie vel, gravida et diam. Sed hendrerit turpis nibh, nec feugiat elit volutpat
      vel. Nullam quis pharetra urna. Vivamus fermentum at ante vel pharetra. Donec sapien ligula, tincidunt quis eros
      a, feugiat rutrum turpis. Curabitur porttitor tortor quis faucibus lacinia. Proin et faucibus libero. Duis magna
      nulla, sagittis in felis nec, vulputate imperdiet justo. Praesent erat nunc, dignissim sed venenatis ut, commodo
      nec tellus. Nullam ultricies consectetur lorem, molestie rutrum lorem gravida eget.</p>

    <p>Cras id justo vitae massa egestas condimentum non quis ligula. Nullam eu erat sit amet ligula dignissim
      ullamcorper. Vivamus eget nibh facilisis, maximus nunc vitae, facilisis libero. Phasellus tristique sit amet nisi
      sed vulputate. Nam eros metus, vehicula quis leo eu, faucibus convallis lectus. Aenean ac justo sed diam faucibus
      hendrerit. Aliquam tempor nunc feugiat dignissim finibus. Donec a justo dignissim, facilisis arcu non, auctor
      ante. Praesent ac metus euismod, mattis arcu at, faucibus lorem. Vivamus imperdiet pharetra libero, pulvinar
      ornare purus laoreet in. Sed a eleifend est, id eleifend sapien. Vestibulum ante ipsum primis in faucibus orci
      luctus et ultrices posuere cubilia curae; Pellentesque quam quam, scelerisque sed congue sed, pharetra quis diam.
    </p>
  </div>

  <div class="acess-container">
    <button id="jbbutton" class="btn btn-primary">
      <i class="fa fa-cog fa-fw"></i>
    </button>
    <div id="acess-icons">
      <div class="btn-group">
        <button id="contrast" class="btn btn-primary">
          <i class="fas fa-moon fa-fw"></i> Contrast
        </button>
        <button id="decreaseFont" class="btn btn-primary">
          <i class="fa fa-minus fa-fw"></i> Decrease Font
        </button>
        <button id="increaseFont" class="btn btn-primary">
          <i class="fa fa-plus fa-fw"></i> Increase Font
        </button>
      </div>
    </div>
  </div>

  <!--
  <div class="acess-container">
    <div id="jbbutton" class="balloon" title="Accessibility"><span class="balloontext">Accessibility</span><img
        src="../img/acessc50.png"></div>
    <div id="acess-icons">
      <div class="acess-icon balloon"><span class="balloontext">Contrast</span><img id="contrast"
          src="../img/contraste40.png" /></div>
      <div class="acess-icon balloon"><span class="balloontext">Increase Font</span><img id="increaseFont"
          src="../img/fontsma40.png" /></div>
      <div class="acess-icon balloon"><span class="balloontext">Decrease Font</span><img id="decreaseFont"
          src="../img/fontsme40.png" /></div>
    </div>
  </div>
  -->
</main>

